body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_heading-container h2 {
  font-weight: bold;
  border-bottom: 1px solid #feb543;
  padding-bottom: 5px;
}

/*header section*/
.hero_area {
  height: 94vh;
  background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
  background: linear-gradient(to right, #864ddf, #203376);
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 58%;
  height: 86%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 25px;
  right: 0;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area::before {
  display: none;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding-top: 15px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #f9fcfb;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #f9fcfb;
  margin-top: 5px;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/
/* slider section */
.slider_section {
  color: #f9fcfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #carouselExampleIndicators {
  position: unset;
}

.slider_section .carousel_btn-container {
  width: 110px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 2%;
  z-index: 999;
}

.slider_section .carousel_btn-container .carousel-control-prev,
.slider_section .carousel_btn-container .carousel-control-next {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #383a90;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .carousel_btn-container .carousel-control-prev:hover,
.slider_section .carousel_btn-container .carousel-control-next:hover {
  background-color: #feb543;
}

.slider_section .carousel_btn-container .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .carousel_btn-container .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section ol.carousel-indicators {
  margin: 0;
  width: 75px;
  bottom: 10%;
  left: 47.5%;
}

.slider_section ol.carousel-indicators li {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  text-indent: 0px;
  text-align: center;
  line-height: 55px;
  color: #f9fcfb;
  background-color: #547bfe;
  opacity: 1;
  display: none;
}

.slider_section ol.carousel-indicators li.active {
  display: block;
}

.slider_detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
}

.slider_detail-box .btn-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin: 35px 0 50px 0;
}

.slider_detail-box .btn-box a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.slider_img-box {
  width: 75%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.welcome_section {
  text-align: center;
}

.welcome_section .img-box {
  width: 65%;
  margin: 0 auto;
}

.welcome_section .img-box img {
  width: 100%;
}

.welcome_section .detail-box {
  margin-top: 45px;
}

.welcome_section .detail-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 45px;
}

.welcome_section .detail-box a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.service_section {
  text-align: center;
  color: #f9fcfb;
  background-image: url(../images/service-bg.png);
  background-size: 100% 100%;
  padding-top: 275px;
  padding-bottom: 125px;
  background-repeat: no-repeat;
  margin-top: -150px;
}

.service_section .custom_heading-container h2 {
  border-color: #f9fcfb;
}

.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service_section .service_container .service_box {
  width: 30%;
  min-width: 300px;
  margin: 35px 15px;
}

.service_section .service_container .service_box .img-box {
  border-radius: 18px;
  overflow: hidden;
}

.service_section .service_container .service_box .img-box img {
  width: 100%;
}

.service_section .service_container .service_box .detail-box {
  margin-top: 30px;
}

.service_section .service_container .service_box .detail-box h4 {
  font-weight: bold;
}

.service_section a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
}

.service_section a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.sub_page .service_section {
  margin-top: 00px;
  margin-bottom: 150px;
}

.problem_section {
  text-align: center;
}

.problem_section .img-box {
  width: 65%;
  margin: 0 auto;
}

.problem_section .img-box img {
  width: 100%;
}

.problem_section .detail-box {
  margin-top: 45px;
}

.problem_section .detail-box a {
  display: inline-block;
  padding: 12px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 45px;
}

.problem_section .detail-box a:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.why_section {
  color: #f9fcfb;
  background: -webkit-gradient(linear, left top, right top, from(#1b3374), to(#8f4fe8));
  background: linear-gradient(to right, #1b3374, #8f4fe8);
}

.why_section .custom_heading-container h2 {
  border-color: #f9fcfb;
}

.why_section p {
  text-align: center;
  margin: 40px 0 55px 0;
}

.why_section .row .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why_section .row .col-md-3 .img-box {
  width: 45px;
  margin-right: 15px;
}

.why_section .row .col-md-3 .img-box img {
  width: 100%;
}

.client_section h2 {
  font-weight: bold;
  text-align: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 65px;
  height: 60px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: #383a90;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #feb543;
}

.client_section .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.client_section .carousel-control-next {
  background-image: url(../images/next.png);
}

.client_container {
  width: 55%;
  margin: 0 auto;
}

.client_container .client_text {
  padding: 30px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
}

.client_container .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.client_container .detail-box .img-box {
  width: 75px;
  margin-right: 15px;
  border: 10px solid #9852f2;
  border-radius: 100%;
  overflow: hidden;
}

.client_container .detail-box .img-box img {
  width: 100%;
}

.client_container .detail-box .name h5 {
  margin: 0;
}

.client_container .detail-box .name p {
  text-transform: uppercase;
  color: #0b93b1;
  margin: 0;
}

.contact_section .contact_heading {
  text-align: center;
  margin-bottom: 45px;
}

.contact_section .contact_heading h2 {
  font-weight: bold;
}

.contact_section form .form-control {
  border: none;
  background-color: #f2f3f4;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  height: 50px;
}

.contact_section form .form-control#inputMessage {
  height: 120px;
}

.contact_section form select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background-image: url(../images/down-arrow.png);
  background-repeat: no-repeat;
  background-position: 98%;
}

.contact_section button {
  display: inline-block;
  padding: 12px 40px;
  background-color: #a053f9;
  color: #f9fcfb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-top: 35px;
  font-size: 15px;
}

.contact_section button:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

/* info section */
.footer_bg {
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  padding-top: 280px;
  margin-top: -125px;
}

.info_section {
  position: relative;
  font-family: "Poppins", sans-serif;
}

.info_section h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #f9fcfb;
  margin-bottom: 35px;
}

.info_section img {
  width: 100%;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 10px 0;
}

.info_section ul li a,
.info_section ul li a:hover {
  color: #fff;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  padding: 1px 3px;
  border-bottom: 2px solid #feb543;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.form_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.info_section .form_container input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.info_section .form_container button {
  display: inline-block;
  padding: 8px 50px;
  background-color: #ffca56;
  color: #f9fcfb;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  border: none;
  text-transform: uppercase;
}

.info_section .form_container button:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.info_section .form_container button:hover {
  -webkit-transform: none;
          transform: none;
}

/* end info section */
/* footer section*/
.footer_section {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_section p {
  color: #f9fcfb;
  margin: 0;
  text-align: center;
  padding: 20px 15%;
  border-top: 1px solid #f9fcfb;
}

.footer_section a {
  color: #f9fcfb;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.detail-box4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.media-body {
  margin-right: 20px;
}

.publication-date {
  margin-left: auto;
}
.publication-date {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #999;
  margin-top: 10px;
}
body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.inner-wrapper {
  position: relative;
  height: calc(100vh - 3.5rem);
  transition: transform 0.3s;
}
@media (min-width: 992px) {
  .sticky-navbar .inner-wrapper {
      height: calc(100vh - 3.5rem - 48px);
  }
}

.inner-main,
.inner-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.inner-sidebar {
  left: 0;
  width: 235px;
  border-right: 1px solid #cbd5e0;
  background-color: #fff;
  z-index: 1;
}
.inner-main {
  right: 0;
  left: 235px;
}
.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
  height: 3.5rem;
  border-bottom: 1px solid #cbd5e0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-shrink: 0;
}
.inner-main-body,
.inner-sidebar-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}
.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
  z-index: 999;
}
.inner-main-footer,
.inner-main-header {
  background-color: #fff;
}
.inner-main-footer,
.inner-sidebar-footer {
  border-top: 1px solid #cbd5e0;
  border-bottom: 0;
  height: auto;
  min-height: 3.5rem;
}
@media (max-width: 767.98px) {
  .inner-sidebar {
      left: -235px;
  }
  .inner-main {
      left: 0;
  }
  .inner-expand .main-body {
      overflow: hidden;
  }
  .inner-expand .inner-wrapper {
      transform: translate3d(235px, 0, 0);
  }
}

.nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
  color: #3367b5;
  background-color: #c9d8f0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #467bcb;
}
.nav-link.has-icon {
  display: flex;
  align-items: center;
}
.nav-link.active {
  color: #467bcb;
}
.nav-pills .nav-link {
  border-radius: .25rem;
}
.nav-link {
  color: #4a5568;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.header{
  width: 100%;
  background-color: #0d77b6 !important;
  height: 60px;
}

.showLeft{
  background-color: #0d77b6 !important;
  border:1px solid #0d77b6 !important;
  text-shadow: none !important;
  color:#fff !important;
  padding:10px;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 7px;
  width: 7px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius:50%;
  pointer-events: none;
}

.btn-left {
  left: 0.4em;
}

.btn-right {
  right: 0.4em;
}

.btn-left, .btn-right {
  position: absolute;
  top: 0.24em;
}

.dropbtn {
  background-color: #4CAF50;
  position: fixed;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0.4em;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-top: 60px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/* Style de base pour la boîte en dessous du post */
.post-footer {
  display: flex; /* Afficher les trois parties côte à côte */
  justify-content: space-between; /* Espace équitablement les trois parties */
  align-items: center; /* Aligner le contenu verticalement */
  border-top: 1px solid #ccc; /* Ajouter une bordure supérieure */
  padding: 10px; /* Ajouter un peu d'espace intérieur */
}

/* Style pour chaque partie */
.post-footer-left,
.post-footer-center,
.post-footer-right {
  width: 33.33%; /* Diviser l'espace en trois parties égales */
}

/* Exemple de style pour la première partie */
.post-footer-left {
  text-align: left;
}

/* Exemple de style pour la deuxième partie */
.post-footer-center {
  text-align: center;
}

/* Exemple de style pour la troisième partie */
.post-footer-right {
  text-align: right;
}
.reply-btn {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.reply-btn svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  color: #aaa;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */